<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prime.mappers.rememberMapper">
 
    <!--resultMap id="userInfoMap" type="userVo">
        <result column="USERID" property="userId" jdbcType="VARCHAR" javaType="string"/>
        <result column="USERNAME" property="userName" jdbcType="VARCHAR" javaType="string"/>
    </resultMap>
    
    <resultMap id="commonResultMap" type="hashMap">
    </resultMap-->
     
    <insert id="insertKnownWords" parameterType="Remember">
    	insert into USER_REMEMBER(user_no, words, grade, textbook, lesson)
    	values(#{user_no}, #{words}, #{grade}, #{textbook}, #{lesson} )
    </insert>
    
    <select id="rememberKnownWords" parameterType="Remember" resultType="String">
    	select words from USER_REMEMBER
    	where user_no = #{user_no} and grade = #{grade} and textbook = #{textbook} and lesson = #{lesson}
    </select>
    
    <select id="isKnownWords" parameterType="Remember" resultType="boolean">
    	select count(*) from USER_REMEMBER
    	where user_no = #{user_no} and grade = #{grade} and textbook = #{textbook} and lesson = #{lesson}
    </select>
    
    <update id="updateKnownWords" parameterType="Remember">
    	update USER_REMEMBER SET words = #{words}
    	where user_no = #{user_no} and grade = #{grade} and textbook = #{textbook} and lesson = #{lesson}
    </update>
    
    <update id="wordsInitialize" parameterType="Remember">
    	update USER_REMEMBER SET words = '==='
    	where user_no = #{user_no} and grade = #{grade} and textbook = #{textbook} and lesson = #{lesson}
    </update>
    
    <select id="knownWordsByUserNo" parameterType="int" resultType="Remember">
    	select * from USER_REMEMBER
    	where user_no = #{user_no} 
    </select>
</mapper>


