<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="css/nanumbarungothic.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="wrap">
	<div id="top"></div>
	<div id="header">
		<div class="header_content">
			<div class="logo"><img src="images/logo.png" alt=""></div>
			<div class="nav_area">
				<div class="top_nav"><a href="#">회원가입</a><span>|</span><a href="#">로그인</a></div>
				<div class="bottom_nav"><a href="#">레벨TEST</a><span>|</span><a href="#">단어암기</a><span>|</span><a href="#">나의학습</a><span>|</span><a href="#">관리자PAGE</a></div>
			</div>
		</div>
	</div>
	<div id="main_bg">
		<div class="login_wrap">
			<div class="login_content">
				<div class="login_title">로그인</div>
				<div class="input_area">
					<div class="left">
						<div class="top">
							<div class="text">아이디</div>
							<div class="input"><input type="text" name="id" value="prime123"></div>
						</div>
						<div class="bottom">
							<div class="text">비밀번호</div>
							<div class="input"><input type="password" name="passwd" value="1234567890"></div>
						</div>
					</div>
					<div class="right"><img src="images/login_btn.png" alt=""></div>
				</div>
				<div class="link"><a href="#">아이디 찾기</a><span>|</span><a href="#">비밀번호 찾기</a><span>|</span><a href="#">회원 가입</a></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
