<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="css/nanumbarungothic.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="wrap">
	<div id="top"></div>
	<div id="header">
		<div class="header_content">
			<div class="logo"><img src="images/logo.png" alt=""></div>
			<div class="nav_area">
				<div class="top_nav"><a href="#">회원가입</a><span>|</span><a href="#">로그인</a></div>
				<div class="bottom_nav"><a href="#">레벨TEST</a><span>|</span><a href="#">단어암기</a><span>|</span><a href="#">나의학습</a><span>|</span><a href="#">관리자PAGE</a></div>
			</div>
		</div>
	</div>
	<div id="main_bg2">
		<div class="main_btn_area">
			<ul>
				<li><a href="#"><img src="images/main_btn_01.png" alt=""></a></li>
				<li><a href="#"><img src="images/main_btn_02.png" alt=""></a></li>
				<li><a href="#"><img src="images/main_btn_03.png" alt=""></a></li>
				<li><a href="#"><img src="images/main_btn_04.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
